.accordion__head{
    background-color: yellow;
    width: 200px;   
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;


}
.accordion__head{
    width: 100%;
}
.accordion--trigger{
    width: 100%;

}
.headerText{

    width: 100%;
}
.headline{
    font-size: 15px;
}
.description{
    font-size: 12.5px;

}
.badge{
    width: min-content;
    white-space:nowrap
}
.title{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;


}
.titleimage{

    background-image: url('/src/giphy.gif');
    width: 200px;
    background-size: cover;
    height: 150px;
}